<div class="row progression-div z-depth-2">
  <div class="patient-info small-margin">
    <h3>{{patientName}} Voorderingen</h3></br>
    <!-- <div class="col s12 divider"></div> -->
    <div class="col s7 offset-s3">
      <blockquote>

        <span class="label-large"><span class="bold">Aantal stappen vandaag:</span> {{steps}}</span></br></br>
        <span class="label-large"><span class="bold">Doelstelling vandaag:</span> {{requiredSteps}}</span></br></br>
        <span class="label-large"><span class="bold">Aantal dagen doelstelling behaald:</span> {{daysCompleted}}/{{daysTotal}}</span></br></br>
        <span class="label-large"><span class="bold">Totaal aantal stappen:</span> {{totalSteps}}</span></br></br>
      </blockquote>
    </div>
  </div>
  <!-- <div class="col s12 divider"></div> -->
  <div class="container progression-stats z-depth-1">

  </div>
</div>
